@tailwind base;
@tailwind components;
@tailwind utilities;

/* voice and image search button size fix */
div.nDcEnd,
div.XDyW0e {
  width: auto;
}

/* remove google also offered in x language element, weird element causes visual bugs */
div#SIvCob {
  display: none;
}

/* suggestions overflowing body fix, enforces max height and adds invisible scroll */
div.OBMEnb {
  max-height: 20vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
div.OBMEnb::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
